<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webappproyectokjdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webappproyectokjdb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppProyectoKJDB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppProyectoKJDB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverproyectokjdb.database.windows.net,1433;Initial Catalog=dbProyectoKJDB;User ID=adminshido@sqlserverproyectokjdb.database.windows.net;Password=C0n3x10n!" Name="Data Source=tcp:sqlserverproyectokjdb.database.windows.net,1433;Initial Catalog=dbProyectoKJDB;User Id=adminshido@sqlserverproyectokjdb.database.windows.net;Password=C0n3x10n!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="prjProyecto.Models.ApplicationDbContext, prjProyecto" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProyectoContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:sqlserverproyectokjdb.database.windows.net,1433;Initial Catalog=dbProyectoKJDB;User ID=adminshido@sqlserverproyectokjdb.database.windows.net;Password=C0n3x10n!" Name="Data Source=tcp:sqlserverproyectokjdb.database.windows.net,1433;Initial Catalog=dbProyectoKJDB;User Id=adminshido@sqlserverproyectokjdb.database.windows.net;Password=C0n3x10n!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="prjProyecto.Models.ProyectoContext, prjProyecto" MigrationConfiguration="prjProyecto.Migrations.Configuration, prjProyecto" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProyectoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverproyectokjdb.database.windows.net,1433;Initial Catalog=dbProyectoKJDB;User Id=adminshido@sqlserverproyectokjdb.database.windows.net;Password=C0n3x10n!;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverproyectokjdb.database.windows.net,1433;Initial Catalog=dbProyectoKJDB;User Id=adminshido@sqlserverproyectokjdb.database.windows.net;Password=C0n3x10n!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>